body {
	font-family: Tahoma, "Courier New", Courier, monospace;
	color: #777;
	/*height: 2000px;*/
}
.main{
	padding-top: 80px;
	padding-bottom: 80px;
}
.border-red {
	background: rgba(255,0,0,0.02);
	border: 1px solid red;
	/*padding: 60px 15px 0;*/
}
.border-orange {
	background: rgba(255,150,0,0.02);
	border: 1px solid orange;
}

.dark {
	background: #445;
	color: #889;
}
.text-grey{
	background-color: transparent;
	color: #889;
	text-decoration: none
}
.text-grey:hover{
	background-color: transparent;
	color: #889;
	text-decoration: none
}
.center{
	text-align: center;
	/*margin: auto;*/
	padding: 5px 0;
}
.right{
	float:right;
}
.hidd{
	display:none;
}