div.ib {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    background: #Ccc;
}

table, th, td {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}

h1, h2, h3, h4 {
    display: inline;
    padding: 0 10px;
}

.photos {
    max-height: 250px;
    max-width: 250px;
}

.sidebar-center {
    display: flex;
    justify-content: center;
}

.sidebar {
    /*background: rgba(50, 190, 150, 0.1);*/
    display: inline-block;
    position: fixed;
    /*border: 1px solid black;*/
    font-size: 14px;
    text-decoration: none;

}

.sidebar a {
    color: #666;
}

.color-row {
    height: 10px;
    width: 100%;
}

.btn-secondary:hover {
    background-color: darkorange;
}

.row-content {
    padding: 10px;
    border-bottom: green 1px solid;
}


.drop-content {
    display:none;
    padding: 10px;
}


iframe {
    /*max-width: 100% !important;*/
    /*width: auto !important;*/
    /*height: auto !important;*/
    position: relative;
    min-height: 300px;
    height: 100%;
    width: 100%;
}


.btn:focus{
    box-shadow:none;
}

.btn:hover{
    box-shadow: 0 0 10px 10px #5552;
}