.result-box {
    min-height: 200px;
    min-width: 200px;

    /*background-color: #ccc;*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    border: 7px solid #666;
    border-radius: 16px;
    /*display: flex;*/
}

#main-box {
    background-size: cover;
    background-color: #fff;
    /*background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/alpha.png);*/
}

.center {
    margin: auto;
    padding: 10px;
}

#outer {
    display: flex;
    justify-content: center;
}

.sliders {
    overflow: hidden;

}

.picker {
    margin: 25px 0;
    width: 100%;
}

.label {
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
}


.slider {
    height: 32px;
    min-width: 600px;
    padding: 0;
    font-size: 14px;
    border: 3px solid #666;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    display: inline;
    -webkit-appearance: none;
    /*width: 80%;*/
    background: #999;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 0.7;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background: red;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #666;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #666;
}

.result {
    width: 50px;
    float: right;
    display: inline;
    border: 3px solid #666;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: right;
    background-color: #999;
    color: #666;
    font-weight: bold;
    font-size: 14px;
}

.result:focus {
    outline: none;
}

